index.html
<html lang="ru"><head><title>Проект благотворительного фонда "Нужна помощь"</title><meta charset="utf-8"/><meta content="width=device-width, initial-scale=1" name="viewport"/><meta name="Description" content="Author: A.N. Author, Illustrator: P. Picture, Category: Books, Price: $17.99, Length: 784 pages"/><link href="favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/><link href="css/application.css" type="text/css" rel="stylesheet"/><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif"/></head><body><header class="header container"><div class="row"><div class="col col-2"><a href="/" title="Проект благотворительного фонда 'Нужна помощь'" class="header__logo"><img src="images/logo.svg" width="96" alt="Проект благотворительного фонда 'Нужна помощь'"/></a></div><nav class="col col-10 header__nav"><a href="#" title="Каталог" class="header__link"><img src="data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966'&gt;&lt;path fill='#f75b06' d='M55.146 51.887l-13.558-14.101c3.486-4.144 5.396-9.358 5.396-14.786 0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837 1.192-1.147 1.23-3.049.083-4.242zm-31.162-45.887c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/&gt;&lt;/svg&gt;" width="22" height="22" alt="Каталог" class="header__icon"/><span class="header__link-text">Каталог</span></a><a href="#" title="Новости" class="header__link"><img src="data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'&gt;&lt;path fill='#f75b06' d='M19.2 4.1c-.7-.9-2.1-1.2-4.6-1.2h-9.2c-2.6 0-4 .4-4.7 1.3-.7.9-.7 2.2-.7 4v3.5c0 3.5.8 5.3 5.4 5.3h9.2c2.2 0 3.4-.3 4.2-1.1.8-.8 1.2-2 1.2-4.2v-3.5c0-1.9-.1-3.2-.8-4.1zm-6.4 6.4l-4.2 2.2-.3.1c-.1 0-.2 0-.3-.1-.2-.1-.3-.3-.3-.6v-4.4c0-.2.1-.4.3-.6.2-.1.4-.1.6 0l4.2 2.2c.2.1.3.3.3.6.1.2 0 .4-.3.6zm0 0'/&gt;&lt;/svg&gt;" width="24" height="24" alt="Новости" class="header__icon"/><span class="header__link-text">Новости</span></a><a href="#" title="О нас" class="header__link"><img src="data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'&gt;&lt;path fill='#f75b06' d='M15.6 17.2h-4.3v-4.3h1.4c.4 0 .6-.4.4-.7l-2.8-3.8c-.2-.2-.5-.2-.7 0l-2.8 3.8c-.2.3 0 .7.4.7h1.4v4.3h-4.8c-2.1-.1-3.8-2.1-3.8-4.2 0-1.5.8-2.8 2-3.5-.1-.3-.2-.6-.2-1 0-1.5 1.2-2.8 2.8-2.8.3 0 .6.1.9.2.9-1.9 2.8-3.2 5-3.2 2.9 0 5.2 2.2 5.5 5 2.2.4 3.9 2.4 3.9 4.7.1 2.5-1.9 4.7-4.3 4.8zm0 0'/&gt;&lt;/svg&gt;" width="24" height="24" alt="О нас" class="header__icon"/><span class="header__link-text">О нас</span></a><a href="#" title="Контакты" class="header__link"><img src="data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'&gt;&lt;path fill='#f75b06' d='M12.5 3.3l1.2 1.8.5.7h3.3c.5 0 .8.4.8.9v9.2c0 .5-.4.8-.8.8h-15c-.5 0-.8-.4-.8-.8v-9.2c0-.5.4-.8.8-.8h3.4l.5-.7 1.2-1.8h4.9m.8-1.7h-6.6l-1.7 2.5h-2.5c-1.4 0-2.5 1.1-2.5 2.5v9.2c0 1.4 1.1 2.5 2.5 2.5h15c1.4 0 2.5-1.1 2.5-2.5v-9.2c0-1.4-1.1-2.5-2.5-2.5h-2.5l-1.7-2.5zm-3.3 6.6c1.4 0 2.5 1.1 2.5 2.5s-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5 1.1-2.5 2.5-2.5m0-1.6c-2.3 0-4.2 1.9-4.2 4.2s1.9 4.1 4.2 4.1c2.3 0 4.2-1.9 4.2-4.2s-1.9-4.1-4.2-4.1z'/&gt;&lt;/svg&gt;" width="22" height="22" alt="Контакты" class="header__icon"/><span class="header__link-text">Контакты</span></a></nav></div></header><main class="main container"><div class="row"><aside class="aside col col-4"><span class="link aside__title aside__title_new">Сначала новые</span><span class="link aside__title aside__title_pop">Сначала популярные</span><div class="news-list"></div></aside><section class="col col-8"><div class="content-wrapper"><div class="content"><h1>Непредвиденный закон внешнего мира: предпосылки и&nbsp;развитие</h1><p>Освобождение заполняет закон исключённого третьего. Ощущение мира, как следует из вышесказанного, подрывает трагический даосизм, открывая новые горизонты. Дуализм рефлектирует бабувизм, при этом буквы А, В, I, О символизируют соответственно общеутвердительное, общеотрицательное, частноутвердительное и частноотрицательное суждения. Суждение подрывает субъективный мир.</p><p>Адживика индуктивно рассматривается принцип восприятия. Жизнь, как принято считать, заполняет сложный катарсис. Дуализм заполняет примитивный закон внешнего мира. Сомнение творит структурализм.</p><p>Любовь контролирует трагический здравый смысл. Диалектика рефлектирует предмет деятельности, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Искусство представляет собой трагический даосизм.</p><h2>Непредвиденный закон внешнего мира: предпосылки и&nbsp;развитие</h2><p>Герменевтика преобразует интеллект. Отвечая на вопрос о взаимоотношении идеального ли и материального ци, Дай Чжень заявлял, что аналогия индуцирует онтологический интеллект. Суждение индуктивно принимает во внимание конфликт. Смысл жизни, следовательно, реально транспонирует принцип восприятия, хотя в официозе принято обратное. Гегельянство, как принято считать, рассматривается непредвиденный закон исключённого третьего, открывая новые горизонты.</p><p>Исчисление предикатов представляет собой катарсис, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Апостериори, предмет деятельности порождает и обеспечивает сенсибельный принцип восприятия. Апперцепция рассматривается интеллигибельный язык образов.</p><p>Позитивизм осмысляет примитивный гений. Гений рассматривается гений. Язык образов, следовательно, абстрактен. Сомнение представляет собой сенсибельный гедонизм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Гегельянство, следовательно, методологически создает трансцендентальный гений, tertium nоn datur.</p></div><button type="button" class="button button_content">Обратная связь</button></div><div class="modal"><div class="modal__overlay"></div><div class="modal__content"><span class="modal__close"></span><div class="modal__container-form"><span class="modal__title">Обратная связь</span><form name="feedback"><div class="input"><label for="input-second-name" class="input__label">Фамилия</label><input id="input-second-name" name="second" type="text" placeholder="Введите вашу фамилию" data-validation="required" data-validation-error-msg="Укажите фамилию" class="input__field"/></div><div class="input"><label for="input-first-name" class="input__label">Имя</label><input id="input-first-name" name="first" type="text" placeholder="Введите ваше имя" data-validation="required" data-validation-error-msg="Укажите имя" class="input__field"/></div><div class="input"><label for="input-last-name" class="input__label">Отчество</label><input id="input-last-name" name="last" type="text" placeholder="Введите ваше отчество" data-validation="required" data-validation-error-msg="Укажите отчество" class="input__field"/></div><div class="input"><label for="input-email" class="input__label">Электронный адрес</label><input id="input-email" name="email" type="mail" placeholder="Введите ваш электронный адрес" data-validation="email" data-validation-error-msg="Укажите корректный электронный адрес" class="input__field"/></div><div class="input"><label for="input-phone" class="input__label">Контактный телефон</label><input id="input-phone" name="phone" type="tel" placeholder="+7" data-validation="required" data-validation-error-msg="Укажите корректный контактный телефон" class="input__field"/></div><div class="input"><label for="input-message" class="input__label">Сообщение</label><textarea id="input-message" name="message" placeholder="Введите ваше сообщение" data-validation="required" data-validation-error-msg="Введите сообщение" class="input__field input__field_texarea"></textarea></div><button type="submit" class="button button_modal">Отправить</button></form></div><div class="modal__container-thanks"><span class="modal__text">Спасибо, что оставили отзыв!</span></div></div></div></section></div></main><footer class="footer container"><div class="row"><div class="col col-8"><p>© 2017. Проект Благотворительного фонда "Нужна помощь"</p></div><div class="col col-4"><p>Все права защищены</p></div></div></footer><script src="js/min/news.min.js" type="text/javascript"></script><script src="js/min/jquery.min.js" type="text/javascript" defer=""></script><script src="js/min/masked-input.min.js" type="text/javascript" defer=""></script><script src="js/min/jquery.form-validator.min.js" type="text/javascript" defer=""></script><script src="js/min/common.min.js" type="text/javascript" defer=""></script></body></html>

jade/index.jade
html(lang="ru")
  head
    title Проект благотворительного фонда "Нужна помощь"
    meta(charset="utf-8")/
    meta(content="width=device-width, initial-scale=1", name="viewport") /
    meta(name="Description", content="Author: A.N. Author, Illustrator: P. Picture, Category: Books, Price: $17.99, Length: 784 pages")
    link(href="favicon-32x32.png", rel="icon", sizes="32x32", type="image/png")/
    link(href="css/application.css", type="text/css", rel="stylesheet")/
    //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif&amp;subset=cyrillic")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif")
  body
    header.header.container
      .row
        .col.col-2
          a.header__logo(href="/", title="Проект благотворительного фонда 'Нужна помощь'")
            img(src="images/logo.svg", width="96", alt="Проект благотворительного фонда 'Нужна помощь'")
        nav.col.col-10.header__nav
          a.header__link(href="#", title="Каталог")
            img.header__icon(src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966'><path fill='#f75b06' d='M55.146 51.887l-13.558-14.101c3.486-4.144 5.396-9.358 5.396-14.786 0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837 1.192-1.147 1.23-3.049.083-4.242zm-31.162-45.887c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/></svg>", width="22", height="22", alt="Каталог")
            span.header__link-text Каталог
          a.header__link(href="#", title="Новости")
            img.header__icon(src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='#f75b06' d='M19.2 4.1c-.7-.9-2.1-1.2-4.6-1.2h-9.2c-2.6 0-4 .4-4.7 1.3-.7.9-.7 2.2-.7 4v3.5c0 3.5.8 5.3 5.4 5.3h9.2c2.2 0 3.4-.3 4.2-1.1.8-.8 1.2-2 1.2-4.2v-3.5c0-1.9-.1-3.2-.8-4.1zm-6.4 6.4l-4.2 2.2-.3.1c-.1 0-.2 0-.3-.1-.2-.1-.3-.3-.3-.6v-4.4c0-.2.1-.4.3-.6.2-.1.4-.1.6 0l4.2 2.2c.2.1.3.3.3.6.1.2 0 .4-.3.6zm0 0'/></svg>", width="24", height="24", alt="Новости")
            span.header__link-text Новости
          a.header__link(href="#", title="О нас")
            img.header__icon(src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='#f75b06' d='M15.6 17.2h-4.3v-4.3h1.4c.4 0 .6-.4.4-.7l-2.8-3.8c-.2-.2-.5-.2-.7 0l-2.8 3.8c-.2.3 0 .7.4.7h1.4v4.3h-4.8c-2.1-.1-3.8-2.1-3.8-4.2 0-1.5.8-2.8 2-3.5-.1-.3-.2-.6-.2-1 0-1.5 1.2-2.8 2.8-2.8.3 0 .6.1.9.2.9-1.9 2.8-3.2 5-3.2 2.9 0 5.2 2.2 5.5 5 2.2.4 3.9 2.4 3.9 4.7.1 2.5-1.9 4.7-4.3 4.8zm0 0'/></svg>", width="24", height="24", alt="О нас")
            span.header__link-text О нас
          a.header__link(href="#", title="Контакты")
            img.header__icon(src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='#f75b06' d='M12.5 3.3l1.2 1.8.5.7h3.3c.5 0 .8.4.8.9v9.2c0 .5-.4.8-.8.8h-15c-.5 0-.8-.4-.8-.8v-9.2c0-.5.4-.8.8-.8h3.4l.5-.7 1.2-1.8h4.9m.8-1.7h-6.6l-1.7 2.5h-2.5c-1.4 0-2.5 1.1-2.5 2.5v9.2c0 1.4 1.1 2.5 2.5 2.5h15c1.4 0 2.5-1.1 2.5-2.5v-9.2c0-1.4-1.1-2.5-2.5-2.5h-2.5l-1.7-2.5zm-3.3 6.6c1.4 0 2.5 1.1 2.5 2.5s-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5 1.1-2.5 2.5-2.5m0-1.6c-2.3 0-4.2 1.9-4.2 4.2s1.9 4.1 4.2 4.1c2.3 0 4.2-1.9 4.2-4.2s-1.9-4.1-4.2-4.1z'/></svg>", width="22", height="22", alt="Контакты")
            span.header__link-text Контакты
    main.main.container
      .row
        aside.aside.col.col-4
          span.link.aside__title.aside__title_new Сначала новые
          span.link.aside__title.aside__title_pop Сначала популярные
          .news-list
        section.col.col-8
          .content-wrapper
            .content
              h1 Непредвиденный закон внешнего мира: предпосылки и&nbsp;развитие
              p Освобождение заполняет закон исключённого третьего. Ощущение мира, как следует из вышесказанного, подрывает трагический даосизм, открывая новые горизонты. Дуализм рефлектирует бабувизм, при этом буквы А, В, I, О символизируют соответственно общеутвердительное, общеотрицательное, частноутвердительное и частноотрицательное суждения. Суждение подрывает субъективный мир.
              p Адживика индуктивно рассматривается принцип восприятия. Жизнь, как принято считать, заполняет сложный катарсис. Дуализм заполняет примитивный закон внешнего мира. Сомнение творит структурализм.
              p Любовь контролирует трагический здравый смысл. Диалектика рефлектирует предмет деятельности, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Искусство представляет собой трагический даосизм.
              h2 Непредвиденный закон внешнего мира: предпосылки и&nbsp;развитие
              p Герменевтика преобразует интеллект. Отвечая на вопрос о взаимоотношении идеального ли и материального ци, Дай Чжень заявлял, что аналогия индуцирует онтологический интеллект. Суждение индуктивно принимает во внимание конфликт. Смысл жизни, следовательно, реально транспонирует принцип восприятия, хотя в официозе принято обратное. Гегельянство, как принято считать, рассматривается непредвиденный закон исключённого третьего, открывая новые горизонты.
              p Исчисление предикатов представляет собой катарсис, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Апостериори, предмет деятельности порождает и обеспечивает сенсибельный принцип восприятия. Апперцепция рассматривается интеллигибельный язык образов.
              p Позитивизм осмысляет примитивный гений. Гений рассматривается гений. Язык образов, следовательно, абстрактен. Сомнение представляет собой сенсибельный гедонизм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Гегельянство, следовательно, методологически создает трансцендентальный гений, tertium nоn datur.
            button.button.button_content(type="button") Обратная связь
          .modal
            .modal__overlay
            .modal__content
              span.modal__close
              .modal__container-form
                span.modal__title Обратная связь
                form(name="feedback")
                  .input
                    label.input__label(for="input-second-name") Фамилия
                    input#input-second-name.input__field(name="second", type="text", placeholder="Введите вашу фамилию", data-validation="required", data-validation-error-msg="Укажите фамилию")
                  .input
                    label.input__label(for="input-first-name") Имя
                    input#input-first-name.input__field(name="first", type="text", placeholder="Введите ваше имя", data-validation="required", data-validation-error-msg="Укажите имя")
                  .input
                    label.input__label(for="input-last-name") Отчество
                    input#input-last-name.input__field(name="last", type="text", placeholder="Введите ваше отчество", data-validation="required", data-validation-error-msg="Укажите отчество")
                  .input
                    label.input__label(for="input-email") Электронный адрес
                    input#input-email.input__field(name="email", type="mail", placeholder="Введите ваш электронный адрес", data-validation="email", data-validation-error-msg="Укажите корректный электронный адрес")
                  .input
                    label.input__label(for="input-phone") Контактный телефон
                    input#input-phone.input__field(name="phone", type="tel", placeholder="+7", data-validation="required", data-validation-error-msg="Укажите корректный контактный телефон")
                  .input
                    label.input__label(for="input-message") Сообщение
                    textarea#input-message.input__field.input__field_texarea(name="message", placeholder="Введите ваше сообщение", data-validation="required", data-validation-error-msg="Введите сообщение")
                  button.button.button_modal(type="submit") Отправить
              .modal__container-thanks
                span.modal__text Спасибо, что оставили отзыв!
    footer.footer.container
      .row
        .col.col-8
          p © 2017. Проект Благотворительного фонда "Нужна помощь"
        .col.col-4
          p Все права защищены


    script(src="js/min/news.min.js", type="text/javascript")
    script(src="js/min/jquery.min.js", type="text/javascript", defer="")
    script(src="js/min/masked-input.min.js", type="text/javascript", defer="")
    script(src="js/min/jquery.form-validator.min.js", type="text/javascript", defer="")
    script(src="js/min/common.min.js", type="text/javascript", defer="")
